.card {
	background: #1f1f1f;
	color: wheat;
	width: 95%;
	max-width: 300px;
	padding: 1rem;
	border-radius: 0.7em;
	box-shadow: rgba(0, 0, 0, 0.815) 0.2em 0.2em 0.2em;
	h1 {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	h3 {
		overflow: hidden;
		text-overflow: ellipsis;
		color: whitesmoke;
	}
}
